.ArticleDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.info > span {
  position: relative;
}

.info > span::after {
  position: absolute;
  top: 50%;
  right: -12px;
  display: inline-block;
  width: 4px;
  height: 4px;
  content: "";
  background: var(--black);
  border-radius: 50%;
  transform: translateY(-50%);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
