:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --gray-dark: #6c7077;
  --white: white;
  --primary: #7351f5;
  --primary-hover: #6344df;
  --red-light: #fea291;
  --red: #fc836d;
  --green: #007b48;
  --green-light: #c8f8e4;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background: #f5f6f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visualyHidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template:
    ". header header ." auto
    ". sidebar content ." 1fr
    "footer footer footer footer" auto /
    auto 230px minmax(320px, 1200px) auto;
  gap: 0 30px;
  min-height: 100vh;
}

.header {
  display: none;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

@media (width <= 765px) {
  .wrapper {
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: minmax(320px, 1fr);
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}
