.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: baseline left;
  align-items: center;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  place-items: baseline left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
}

.seo h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

.seo h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.seo h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
