.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: baseline left;
  align-items: center;
}

.wrapper {
  margin-top: 40px;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  place-items: baseline left;
}
