.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: baseline left;
  align-items: center;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  place-items: baseline left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
}
